.navbar {
  background: white;
  padding: 1em;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.349);

  .nav-logo {
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 1.2em;

    span {
      color: $primaryColor;
    }
  }

  nav {
    transition: all 0.3s ease;
    display: none;
  }

  .container {
    display: flex;
    place-content: space-between;
  }

  .mobile-menu {
    cursor: pointer;
  }
}

nav.menu-btn {
  transition: all 0.3s ease;
  display: block;
}

nav {
  transition: all 0.3s ease;
  position: fixed;
  z-index: 1000;
  width: 66%;
  top: 0;
  right: 0;
  background: #20272e;
  height: 100vh;
  padding: 1em;

  ul.primary-nav {
    margin-top: 5em;
  }

  li {
    a {
      color: white;
      text-decoration: none;
      display: block;
      padding: 0.5em;
      font-size: 1.3em;
      text-align: right;
      transition: all 0.3s ease;

      &:hover {
        color: $primaryColor;
      }
    }
  }
}

.mobile-menu-exit {
  float: right;
  margin: 0.5em;
  cursor: pointer;
}
